# single tab completion as opposed to requiring a double tab
set show-all-if-ambiguous on

# suffix file completion with its type
set visible-stats on

# turns off the use of the internal pager when returning long completion lists
set page-completions off
